.heading-bar {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.heading-bar h1.heading-bar-h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 300%;
    margin-bottom: 0;
}

.heading-bar h2.heading-bar-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 200%;
    margin-bottom: 0;
}