div.search-result-poster-container {
    display: inline-flex;
}

div.ui.ribbon.label.movie-item-ribbon {
    position: absolute;
    top: 20px;
    left: calc(100% + 1.2em);
    right: 0px;
    padding-right: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

div.ui.ribbon.label.movie-item-ribbon.blue {
    background-color: #3f51b5 !important;
}

div.ui.ribbon.label.movie-item-ribbon.blue::after {
    border-top-color: #213397 !important;
}

div.ui.ribbon.label.movie-item-ribbon.green {
    background-color: #008000 !important;
}

div.ui.ribbon.label.movie-item-ribbon.green::after {
    border-top-color: #006200 !important;
}

div.ui.ribbon.label.movie-item-ribbon.purple {
    background-color: #9400d3 !important;
}

div.ui.ribbon.label.movie-item-ribbon.purple::after {
    border-top-color: #7600b5 !important;
}