div.search-contents {
    background-color: #444;
    transition: background-color 0.5s ease;
}

.dark-mode div.search-contents {
    background-color: #222;
}

div.search-message {
    height: 100px;
    color: #eee;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;
}

div.search-item-card {
    background-color: #fbfbfb;
    transition: background-color 0.5s ease;
    margin-bottom: 20px;
}

.dark-mode div.search-item-card {
    background-color: #444;
}